body {
    background-image: url(../image/hospitalImage2.jpg);
    background-repeat: repeat;
}

.loginAll {
    position: relative;
    background-color: whitesmoke;
    height: 400px;
    width: 400px;
    margin-left: 500px;
    margin-top: 200px;
    text-align: center;
}

.loginTitle {
    display: inline-block;
}

.loginInputValue input{
    
}