body {
    background-image: url(../image/hospitalImage2.jpg);
}

#signUpAll {
    background-color: aqua;
    width: 400px;
    height: 400;
    display: flexbox;
    text-align: center;
    margin-left: 590px;
    margin-top: 200px;
}